$color-primary: #efdcc6;
$color-gray-1: #333333;
$color-gray-2: #4f4f4f;
$color-white: #ffffff;

$color-btn-text: #fefefe;

$color-footer-bg: #f0dcc5;
$color-h2: #f3b562;
$color-h3: #647b64;

$spacing-32_140: clamp(2rem, -0.3768rem + 10.141vw, 8.75rem);

$transition: all 0.4s ease-in-out;
